* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

:root {
  --Primary-Colour: #fd0;
  --Secondary-Colour: #5c006a;
  --Text-Color: #fff;
}

.text {
  color: var(--Text-Colour, #fff);
  text-align: center;

  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875rem;
  text-transform: uppercase;
}
header {
  position: relative;
}

#win-image {
  width: 30rem;
  position: absolute;
  top: 23%;
  right: 10%;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--Text-Color);
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  top: -18rem;
  width: 93%;
  margin: 0 auto;
  padding: 1.5rem;
}

section {
  padding: 1.5rem;
  margin-bottom: 3rem;
  background-color: var(--secondary-Color, #5c006a);
  border-radius: 1.25rem;
}

#charitySection {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: var(--Secondary-Colour);
  position: absolute;
  bottom: 0rem;
}

@media (max-width: 1380px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  #win-image {
    width: 20rem;
    height: 5rem;
    position: absolute;
  }

  .container {
    top: -13rem;
  }
}

@media (max-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .container {
    top: -9rem;
  }
}

@media (max-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .container {
    top: -5rem;
  }
  #win-image{
    width:13rem;
    height: 5rem;
    position: absolute;

  
  } 
  .charity-content{
    margin: 0rem;
  }
}
